RAG Knowledge Base Integration.json
{
  "name": "RAG com base estruturada",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e2f25ac9-de13-4ead-bbf3-fb482af03432",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "your-folder-id",
            "mode": "list",
            "cachedResultName": "Bolos",
            "cachedResultUrl": "https://drive.google.com/drive/folders/your-folder-id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "d22c0bcb-e0ed-41ea-b2ff-7dd110582cc7",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iwGaXxAxk5GbaEsY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "42addaf0-845c-4154-82eb-6cfb08cc4448",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        624,
        208
      ],
      "id": "c62c9236-edb7-4a98-8457-97051bea6343",
      "name": "Get a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "5ldVk3wYFeAxAWGN",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        832,
        208
      ],
      "id": "f5e032ce-4bf6-494c-9498-63b68a60e26b",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "szfRJIO6Qnx0tBK5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        416
      ],
      "id": "6391e9b4-2143-4a57-a991-b892dcee24e3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "5YQI7tovBdYZjyEI",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Get a document1').item.json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        416
      ],
      "id": "5c1c2f4f-2f5d-42e6-81ff-37b32c34796f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! Tudo bem? Você está no chat da Gabi :)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        176,
        640
      ],
      "id": "52f19e54-5d14-420d-99ec-f03a459be8d7",
      "name": "When chat message received",
      "webhookId": "eb06dc87-f89d-4da3-9f2e-2ff6ed26ba6b"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Você é um assistente especializado em bolos.\nSeu trabalho é responder perguntas usando exclusivamente as informações disponíveis nos documentos fornecidos na base de conhecimento.\nRegras de comportamento:\n- Sempre que o usuário perguntar algo sobre bolos, receitas, sabores, ingredientes, preparo, tamanhos, valores ou qualquer informação relacionada a bolos, você deve buscar a resposta nos documentos disponíveis.\n- Utilize apenas as informações encontradas nesses documentos para formular a resposta.\n- Se a informação não estiver nos documentos, diga educadamente que não encontrou essa informação na base de conhecimento.\n- Não invente receitas, ingredientes ou informações que não estejam nos documentos.\n- Responda de forma clara, organizada e objetiva.\n\nContexto:\nOs documentos disponíveis contêm informações sobre bolos, incluindo receitas, sabores, ingredientes, preparo, tamanhos, valores e outras informações relacionadas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        640
      ],
      "id": "dedd5357-1ce1-4309-b25c-8ea284dfa960",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        848
      ],
      "id": "3fefd1f2-d001-4f3f-9a47-57ad920d18a8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": ".",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        528,
        848
      ],
      "id": "f7e11dea-d25d-47a0-af3a-ba769fe2dab0",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "szfRJIO6Qnx0tBK5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        1008
      ],
      "id": "28671c06-2eed-4155-b6d6-0f18b069eb34",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "5YQI7tovBdYZjyEI",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        256,
        848
      ],
      "id": "b127888e-c9b6-41da-bf23-cdf79b18c31b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5YQI7tovBdYZjyEI",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "325df598-77e5-4316-9cbd-bfea1c7aa0ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "88bff87920f704a2353de9f28498962ede6b0124958586b0de7313e8f088d142"
  },
  "id": "EBx1o58DgnnwpYa4",
  "tags": []
}